@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 900;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

:root{
    --color-darkgreen: #939878;
    --color-orange: #cf6f49;
    --color-white: #fff;
}

li{
    list-style-type: none;
}


a{
    text-decoration: none;
}

header div.get{
    display: grid;
    padding: 10px 3vw;
    background-color: var(--color-darkgreen);
    grid-template-columns: 1fr 1fr;

}

header div.get p{
    position: relative;
    left: 88%;
    color: var(--color-white);
}

header div.get svg{
    display: grid;
    justify-self: end;
    height: 20px;
    width: 20px;
    color: var(--color-white);
}

header .headsite{
    display: grid;
    padding-top: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 20px;
    grid-template-columns: repeat(2,1fr);
}

header .headsite div.left {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

header .headsite div.left span{
    display: grid;
    align-items: center;
    font-weight: bold;
}


header .headsite .right nav ul li:last-child a:last-child{
    display: grid;
    text-align: center;
    align-items: center;
    color: var(--color-white);
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: var(--color-orange);
}

header .headsite .right nav ul li a:nth-child(2) svg{
    align-items: center;
}

header .headsite .right nav ul{
    display: grid;
    justify-self: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
    grid-template-columns: repeat(7,1fr);
}

header .headsite .right nav ul li.properties, header .headsite .right nav ul li.search{
    display: flex;
    column-gap: 10px;
}

header .headsite .right nav ul li a{
    color: #000;
}

header .headsite .right nav ul li a:hover{
    color: var(--color-orange);
}

header .headsite .right nav ul li:last-child:hover{
    background-color: white;
    border: 1px solid var(--color-orange);
}

header .headsite .right nav ul li:nth-child(6){
    border: 1px solid black;
    text-align: center;
}


header .headsite div.right nav ul li>svg{
    height: 20px;
    width: 20px;
}

main section.start{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main section.start .left a.open{
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}

main section.start .left a.find{
    display: grid;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    background-color: var(--color-orange);
    color: var(--color-white);
}

main section.start .left div{
    display: flex;
    column-gap: 20px;
}

main section.start .left{
    display: grid;
    padding: 3vw;
    align-items: center;
    background-color: #f5f5f2;
}

main section.start .left br{
    font-size: 16px;
}

main section.start .left h1{
    font-weight: normal;
    font-size: 60px;
}

main section.start .left p{
    color: #65665c;
    font-size: 20px;
}

main section.start .left div label{
    display: flex;
    background-color: var(--color-white);
    align-items: center;
}

main section.start .left div label input{
    border: none;
    border-radius: 5px;
    height: 30px;
    border-color: var(--color-white);
}


main section.start .left svg{
    width: 20px;
    height: 20px;
}

main section.start .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section.logoipsum{
    padding: 2vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

main section.logoipsum h3{
    font-weight: normal;
}

main section.logoipsum .right ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

main section.logoipsum .right ul li{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

main section.logoipsum .right ul li svg{
    height: 20px;
    width: 20px;
}

main section.chair{
    display: grid;
    row-gap: 20px;
    padding-top: 3vw;
    text-align: center;
}

main section.chair h2{
    font-size: 48px;
}

main section.chair p{
    color: #65665c;
}

main section.vtomgoduluche{
    column-gap: 20px;
    padding: 3vw;
    padding-top: 20px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
}

main section.vtomgoduluche .left{
    padding: 2vw;
    display: grid;
    border-radius: 16px;
    row-gap: 20px;
    align-items: center;
    justify-items: center;
    border: 1px solid rgba(0, 0, 0, 0.582);
}

main section.vtomgoduluche .center{
    padding: 2vw;
    display: grid;
    border-radius: 16px;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.582);
}

main section.vtomgoduluche .end{
    padding: 2vw;
    display: grid;
    border-radius: 16px;
    row-gap: 20px;
    align-items: center;
    justify-items: center;
    border: 1px solid rgba(0, 0, 0, 0.582);
}

main section.vtomgoduluche .better2023{
    border-radius: 5px;
}

main section.vtomgoduluche .left .better2023 svg{
    display: grid;
    margin: 0 auto;
    padding: 4px;
    color: var(--color-orange);
    height: 30px;
    width: 30px;
}

main section.vtomgoduluche .center .better2023 svg{
    display: grid;
    margin: 0 auto;
    padding: 4px;
    color: var(--color-orange);
    height: 30px;
    width: 30px;
}

main section.vtomgoduluche .end svg{
    display: grid;
    margin: 0 auto;
    padding: 4px;
    align-items: center;
    color: var(--color-orange);
    height: 30px;
    width: 30px;
}


main section.vtomgoduluche .better2023{
    background-color: #fae8e1;
}

main section.besthouses{
    display: grid;
    padding: 3vw;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}

main section.besthouses .left{
    display: grid;
    row-gap: 50px;
    padding: 3vw;
    align-items: center;
}

main section.besthouses .left span{
    display: grid;
    text-align: center;
    background-color: #e7e8e3;
    border-radius: 16px;
    align-items: center;
    width: 120px;
    height: 30px;
}

main section.besthouses .left h3{
    font-size: 64px;
}

main section.besthouses .left .explore{
    display: flex;
    column-gap: 24px;
}

main section.besthouses .left .explore a.first{
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    border: 1px solid #e7e8e3;
    width: 200px;
    height: 30px;

}

main section.besthouses .left p{
    color: #65665C;
}

main section.besthouses .left .explore a.first:hover{
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
}

main section.besthouses .left .explore a.agent:hover{
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
    border-radius: 16px;
}


main section.besthouses .left .explore a.agent{
    display: flex;
    align-items: center;
}

main section.besthouses .left .explore a.agent svg{
    height: 15px;
    width: 15px;
}

main section.besthouses .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

main section.second{
    display: grid;
    padding: 3vw;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}

main section.second .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}


main section.second .right .one svg{
    color: var(--color-orange);
    height: 20px;
    width: 20px;
}

main section.second .right .two svg{
    color: var(--color-orange);
    height: 20px;
    width: 20px;
}


main section.second .right{
    display: grid;
    padding: 3vw;
    row-gap: 50px;
}

main section.second .right h3{
    font-size: 64px;
}

main section.second .right .article svg{
    padding: 4px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: #fae8e1;
}

main section.second .right .article .one,main section.second .right .article .two{
    display: grid;
    column-gap: 20px;
    row-gap: 5px;
}

main section.second .right span{
    display: grid;
    text-align: center;
    background-color: #e7e8e3;
    border-radius: 16px;
    align-items: center;
    width: 120px;
    height: 30px;
}


main section.second .right>p{
    color: #65665C;
}

main section.second .right .article{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

main section.second .right .article h5{
    font-size: 16px;
}

main section.second .right p{
    padding-top: 18px;
}

main section.second .right .explore{
    display: flex;
    column-gap: 24px;
    row-gap: 10px;
}

main section.second .right .explore a.first{
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    border: 1px solid #e7e8e3;
    width: 200px;
    height: 30px;

}

main section.second .right .explore a.first:hover{
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
}

main section.second .right .explore a.agent svg{
    width: 15px;
    height: 15px;
}

main section.second .right .explore a.agent:hover{
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
    border-radius: 16px;
}


main section.second .right .explore a.agent{
    display: flex;
    align-items: center;
}

main section.cards{
    padding: 3vw;
    display: grid;
    row-gap: 20px;
    background-color: #f5f5f2;
}

main section.cards span{
    display: grid;
    text-align: center;
    margin: 0 auto;
    background-color: #e7e8e3;
    border-radius: 16px;
    align-items: center;
    width: 120px;
    height: 30px;
}

main section.cards h4{
    text-align: center;
    font-size: 48px;
}
main section.cards .images{
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
}

/* main section.cards .images div:first-child{
    background-color: var(--color-white);

} */

main section.cards .images div img{
    width:100%;
    height: 50%;
    object-fit: cover;
}

main section.cards .images .cozy .usd{
    background-color: var(--color-white);
}

main section.cards .images .cozy div>h6{
    font-size: 16px;
}

main section.cards div:nth-child(4)>img{
    width: 100%;
    height: 60%;
}

main section.cards div:nth-child(5)>img{
    width: 100%;
    height: 60%;
}

main section.cards div:nth-child(6)>img{
    width: 100%;
    height: 60%;
}

main section.cards .images .cozy .usd{
    display: grid;
    row-gap: 16px;
    padding: 1vw;
}

main section.cards .images .cozy .usd h6{
    font-size: 24px;
}

main section.cards .images .cozy .los p{
    display: flex;
    align-items: center;
}

main section.cards .images .cozy .usd>.los p>svg{
    height: 20px;
    width: 20px;
}

main section.cards .images .cozy .usd>ul{
    display: flex;
    column-gap: 44px;
    align-items: center;
}

main section.cards .images .cozy .usd>ul>li{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

main section.cards .images .cozy .usd>ul li svg{
    width: 20px;
    height: 20px;
}


main section.cards .images .san .usd{
    background-color: var(--color-white);
}

main section.cards .images .san .los p{
    display: flex;
    align-items: center;
}

main section.cards .images .san .usd>.los p>svg{
    height: 20px;
    width: 20px;
}

main section.cards .images .san .usd h6{
    font-size: 24px;
}

main section.cards .images .san .usd>ul{
    display: flex;
    column-gap: 44px;
    align-items: center;
}

main section.cards .images .san .usd>ul>li{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

main section.cards .images .san .usd>ul>li svg{
    width: 20px;
    height: 20px;
}

main section.cards .images .san .usd{
    display: grid;
    row-gap: 16px;
    padding: 1vw;
}

main section.cards .images .york .usd{
    background-color: var(--color-white);
    display: grid;
    row-gap: 16px;
    padding: 1vw;
}

main section.cards .images .york .usd h6{
    font-size: 24px;
}

main section.cards .images .york .los p{
    display: flex;
    align-items: center;
}

main section.cards .images .york .usd>.los p>svg{
    height: 20px;
    width: 20px;
}

main section.cards .images .york .usd>ul{
    display: flex;
    column-gap: 44px;
    align-items: center;
}

main section.cards .images .york .usd>ul>li{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

main section.cards .images .york .usd>ul>li svg{
    width: 20px;
    height: 20px;
}

main section.cards .images .angeles .usd{
    display: grid;
    background-color: var(--color-white);
    row-gap: 16px;
    padding: 1vw;
}

main section.cards .images .angeles .los p{
    display: flex;
    align-items: center;
}

main section.cards .images .angeles .usd>.los p>svg{
    height: 20px;
    width: 20px;
}

main section.cards .images .angeles .usd h6{
    font-size: 24px;
}

main section.cards .images .angeles .usd>ul{
    display: flex;
    column-gap: 44px;
    align-items: center;
}

main section.cards .images .angeles .usd>ul>li{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

main section.cards .images .angeles .usd>ul>li svg{
    width: 20px;
    height: 20px;
}

main section.cards .images .vegas .usd{
    display: grid;
    background-color: var(--color-white);
    row-gap: 16px;
    padding: 1vw;
}

main section.cards .images .vegas .los p{
    display: flex;
    align-items: center;
}

main section.cards .images .vegas .usd>.los p>svg{
    height: 20px;
    width: 20px;
}

main section.cards .images .vegas .usd h6{
    font-size: 24px;
}

main section.cards .images .vegas .usd>ul{
    display: flex;
    column-gap: 44px;
    align-items: center;
}

main section.cards .images .vegas .usd>ul>li{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

main section.cards .images .vegas .usd>ul>li svg{
    width: 20px;
    height: 20px;
}

main section.cards .images .diego .usd{
    display: grid;
    background-color: var(--color-white);
    row-gap: 16px;
    padding: 1vw;
}

main section.cards .images .diego .usd h6{
    font-size: 24px;
}

main section.cards .images .diego .los p{
    display: flex;
    align-items: center;
}

main section.cards .images .diego .usd>.los p>svg{
    height: 20px;
    width: 20px;
}

main section.cards .images .diego .usd>ul{
    display: flex;
    column-gap: 44px;
    align-items: center;
}

main section.cards .images .diego .usd>ul>li{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

main section.cards .images .diego .usd>ul>li svg{
    width: 20px;
    height: 20px;
}

main section.cards .explore{
    display: flex;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 10px;

}

main section.cards .explore a.first{
    display: grid;
    background-color: var(--color-white);
    color: #000;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #e7e8e3;
    width: 200px;
    height: 30px;

}

main section.cards .explore a.first:hover{
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
}

main section.cards  .explore a.agent svg{
    width: 15px;
    height: 15px;
}

main section.cards .explore a.agent:hover{
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
    border-radius: 16px;
}


main section.cards .explore a.agent{
    display: flex;
    color: #000;
    align-items: center;
}

main section.newcard{
    display: grid;
    background-color: #f5f5f2;
    padding: 3vw;
    row-gap: 50px;
}

main section.newcard h3{
    text-align: center;
    font-size: 48px;
}

main section.newcard p{
    text-align: center;
    color: #65665C;
}


main section.newcard div ul{
    display: grid;
    width: 100%;
    column-gap: 16px;
    row-gap: 10px;
    grid-template-columns: repeat(3,2fr);
}



main section.newcard div ul li{
    display: grid;
    row-gap: 16px;
    border-radius: 10px;
    padding: 1vw;
    background-color: var(--color-white);
}

main section.newcard div ul li a{
    display: flex;
    align-items: center;
}

main section.newcard div ul li a svg{
    width: 15px;
    height: 15px;
}

main section.newcard .explore{
    display: flex;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 10px;

}

main section.newcard .explore a.first{
    display: grid;
    background-color: var(--color-white);
    color: #000;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #e7e8e3;
    width: 200px;
    height: 30px;

}

main section.newcard .explore a.first:hover{
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
}

main section.newcard  .explore a.agent svg{
    width: 15px;
    height: 15px;
}

main section.newcard .explore a.agent:hover{
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
    border-radius: 16px;
}


main section.newcard .explore a.agent{
    display: flex;
    color: #000;
    align-items: center;
}
